{% extends "shop/base.html" %}
{% block content %}
    <main id="main" class="main">
            <div class="wrapper">
    <div class="layout">
        <div class="layout-main">
            <div class="layout-main-inner">
                <section class="page">
                        <h1 class="main-h">Интернет магазин строительных материалов Аквилон - Контакты</h1>
<div class="contacts-content" itemscope="" itemtype="http://schema.org/LocalBusiness">
    <meta itemprop="name" content="Магазин склад строительных материалов Аквилон Киев">
    <meta itemprop="image" content="https://akvilon.ua/content/images/2/33561605257824.jpg">
    <div class="contacts-aside">
        <div class="contacts-info">
                    <div class="contacts-info__group">
                <svg class="icon icon--phone"><use xlink:href="#icon-phone"></use></svg>
                                    <div class="contacts-info__item contacts-info__item--tel" property="telephone" content="+380975555686">
                        097 555-56-86                    </div>
                                    <div class="contacts-info__item contacts-info__item--tel" property="telephone" content="+380665555686">
                        066 555-56-86                    </div>
                                    <div class="contacts-info__item contacts-info__item--tel" property="telephone" content="+380935555686">
                        093 555-56-86                    </div>
                            </div>

                    <div class="contacts-info__group" property="telephone">
                <i class="icon-email"></i>
                                    <div class="contacts-info__item">
                        <a href="mailto:zakaz@akvilon.ua" class="a-pseudo">
                            <span class="a-link">zakaz@akvilon.ua</span>
                        </a>
                    </div>
                            </div>

                    <div class="contacts-info__group">
                <i class="icon-skype"></i>
                                    <div class="contacts-info__item">
                        <a href="skype:skype?call" class="a-pseudo">
                            <span class="a-link">skype</span>
                        </a>
                    </div>
                            </div>


                    <div class="contacts-info__group">
                <svg class="icon icon--telegram"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-telegram"></use></svg>
                                    <div class="contacts-info__item">
                        <a href="tg://resolve?domain=%2B38+%28097%29+5555686" class="a-pseudo">
                            <span class="a-link">+38 (097) 5555686</span>
                        </a>
                    </div>
                            </div>


                    </div>
    </div>
    <div class="contacts-main">
        <div class="text">
            <div class="contacts-info">
            </div>
        </div>
    </div>
</div>
<div class="contacts-text">
    <div class="text"><p><img alt="" src="/content/uploads/images/%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D1%8B.jpg" style=" float: right;" width="300" height="199"></p>

<p><span style="font-size:16px;">&nbsp; &nbsp; &nbsp; По вопросам продажи <strong>нам</strong> товаров и услуг обращайтесь по номеру&nbsp;<strong>044-586-81-77</strong></span></p>

<p>&nbsp; &nbsp; &nbsp;&nbsp;</p>

<hr>
<p><strong>Адрес интернет-магазина:&nbsp;</strong><br>
Киевская обл., г. Вишневое, &nbsp;ул. Киевская, 8.<br>
Левое крыло, 1&nbsp;этаж</p>

<p><strong>График работы:&nbsp;</strong></p>

<p><span style="color:#ff0000;"><strong>Уважаемые Клиенты! </strong></span></p>

<p><span style="color:#ff0000;"><strong>В связи с общенациональным карантином на территории Украины график работы наших складов может быть временно изменен. </strong></span></p>

<p><span style="color:#ff0000;"><strong>Просим вас уточнять у менеджеров актуальный график работы складов для осуществления самовывозов. </strong></span></p>

<p><span style="color:#ff0000;"><strong>И помните, мы ежедневно осуществляем безопасную доставку! </strong></span></p>

<p><span style="color:#ff0000;"><strong>Желаем вам здоровья!</strong></span></p>

<p>&nbsp;</p>

<p><iframe allowfullscreen="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2544.2330507828033!2d30.337671816072035!3d50.38085397946582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ca150cfdb247%3A0x186349b0b013f6dc!2sAkvilon.ua!5e0!3m2!1sru!2sua!4v1494318685984" style="border:0; float: right;" width="100%" height="400" frameborder="0"></iframe></p>

<p><span style="color:#000000;"><strong>Склад г. Вишневое</strong><br>
г. Вишневое, ул. Киевская, 8</span></p>

<p style="margin-top: 14px; margin-bottom: 14px; color: rgb(73, 60, 52); background-color: rgb(255, 255, 255); font-size: 13.008px;"><span style="color:#000000;"><span style="font-size: 14px;">GPS координаты: 50.384309, 30.334880</span></span></p>

<p style="margin-top: 14px; margin-bottom: 14px; color: rgb(73, 60, 52); font-size: 14px; background-color: rgb(255, 255, 255);"><span style="color:#000000;"><strong>Склад на левом берегу г.&nbsp;Киев</strong><br>
г. Киев, ул. М. Хвылевого, 15</span><br>
<span style="color:#ff0000;"><strong>На данном складе только стройматериалы</strong></span></p>

<p style="margin-top: 14px; margin-bottom: 14px; color: rgb(73, 60, 52); font-size: 14px; background-color: rgb(255, 255, 255);"><span style="color:#000000;">GPS координаты: 50.415881, 30.684568</span></p>

<p style="margin-top: 14px; margin-bottom: 14px; color: rgb(73, 60, 52); font-size: 14px; background-color: rgb(255, 255, 255);"><span style="color:#000000;"><strong>Склад на правом берегу г. Киев</strong><br>
г. Киев, бул. Вацлава Гавела, 26</span><br>
<span style="color:#ff0000;"><strong>Наличие материалов на данном складе уточняйте у менеджера</strong></span></p>

<p style="margin-top: 14px; margin-bottom: 14px; color: rgb(73, 60, 52); font-size: 14px; background-color: rgb(255, 255, 255);"><span style="color:#000000;">GPS координаты:&nbsp;50.430214, 30.413220</span></p>

<p style="margin-top: 14px; margin-bottom: 14px; color: rgb(73, 60, 52); font-size: 14px; background-color: rgb(255, 255, 255);">&nbsp;</p>

<p style="margin-top: 14px; margin-bottom: 14px; color: rgb(73, 60, 52); font-size: 14px; background-color: rgb(255, 255, 255);"><span style="font-size:16px;">По вопросам продажи <strong>нам</strong> товаров и услуг обращайтесь по номеру&nbsp;<strong>044-586-81-77</strong></span></p>
</div>
</div>                </section>
            </div>
        </div>
        <aside class="layout-aside">
    <div class="layout-aside-inner">
<nav class="sideMenu ">
            <ul class="sideMenu-list">

                                    <li class="sideMenu-i">
                        <div class="sideMenu-t"><a class="sideMenu-a" href={% url "shop:about" %}">О нас</a></div>
                                            </li>
                                    <li class="sideMenu-i">
                        <div class="sideMenu-t __active"><a class="sideMenu-a" href={% url "shop:delivery" %}">Доставка и Оплата</a></div>
                                                                                                </li>
                                    <li class="sideMenu-i">
                        <div class="sideMenu-t"><a class="sideMenu-a" href={% url "shop:contact" %}">Контакты</a></div>
                                            </li>

            </ul>
        </nav>
    </div>
</aside>    </div>
</div>        </main>
{% endblock content %}